# Unreal Files
#-------------------
*/Binaries/
*/Build
*/DerivedDataCache
*/Intermediate
*/Saved/
Content/StarterContent/HDRI
Content/StarterContent/Textures
Content/StarterContent/Maps

# Visual studio Files
#--------------------
*.VC.db*
*.ipch

Saved/
